<p-dataTable [value]="statistics">
    <p-column field="date" header="Data"></p-column>
    <p-column field="FOOD" header="Żarcie"></p-column>
    <p-column field="TAXES" header="Rachunki"></p-column>
    <p-column field="MY" header="Moje"></p-column>
    <p-column field="WIFE" header="Martyna"></p-column>
    <p-column field="CAR" header="Samochód"></p-column>
    <p-column field="DIFFERENT" header="Inne"></p-column>
    <p-column field="SON" header="Jasiek"></p-column>
    <p-column field="summary" header="Suma"></p-column>
</p-dataTable>